.bookmarkThisFollow a
{
  display: inline-block;
}

.bookmarkThisShare>img, .bookmarkThisFollow>a
{
  margin: .2rem;
  cursor: pointer;
}

.bookmarkThisShare>img:first-child, .bookmarkThisFollow>a:first-child
{ 
  margin-left: 0;
}

.bookmarkThisShare>img:last-child, .bookmarkThisFollow>a:last-child
{ 
  margin-right: 0;
}

.bookmarkThisShare img
{
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.bookmarkThisShare img:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.bookmarkThisShare, .bookmarkThisFollow
{
  text-align: center;
}